div.row
    div.col
        div.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2
            h1.h2(translate, id="title", tabindex="-1") {{'questions.update_question.title' | translate}}
div.row
    div.col
        ng-container(#container)
