article.card.h-100.unit-top-rated
    .img-container 
        img.card-img(
            [src]="unit.cover",
            [alt]="'explore.accesibility.image-unit' | translate: { title: unit.name }"
        )
    .description-container
        h3 {{ unit.name }}
        .row.no-gutters
            .col
                p 
                    != '{{\'common.published_at\' | translate}} {{unit.publishedAt | date: "dd/MM/yyyy"}} | '
                    <strong><span class="sr-only">{{'rating.average' | translate}}</span>{{unit.rating.average}}</strong> (<span class="sr-only">{{'rating.count' | translate}}</span>{{unit.rating.count}}) 
                    ngx-material-rating(
                        role="slider", aria-valuemin="0", aria-valuemax="5", [attr.aria-valuenow]="unit.rating.average", [attr.aria-valuetext]="'rating.current' | translate: {current: unit.rating.average, max: 5}",
                        [dense]="true", [disabled]="true", [readonly]="true", [max]=5, [(ngModel)]="unit.rating.average")
        hr
        p.card-text.description {{ unit.description }}
        button.btn.btn-block.btn-primary((click)="viewUnit()", aria-haspopup="dialog") {{ 'common.see' | translate }} 
            span.sr-only {{ unit.name }}
