.content-wrapper
    h2.sub-title {{ 'units.tab-unit-actions.delete_unit' | translate }}
    button.btn.btn-danger.btn-sm(type="button", (click)="openDeleteUnitModal()") {{ 'common.delete' | translate }}
