<article class="video-item">
    <div class="video-description">
        <div class="row">
            <div class="col-md-12 col-lg-9"><h2 class="video-title">{{ video.name }}</h2></div>
            <div class="col-md-12 col-lg-3 date-container"><span>{{ 'common.created_at' | translate }} {{ video.createdAt | date: "dd/MM/yyyy" }}</span></div>
        </div>
        <div class="video-badges"><span class="badge badge-primary" *ngIf="isVideoPublished()">{{ 'common.published_at' | translate }} {{ video.publishedAt | date: "dd/MM/yyyy" }}</span></div>
        <ul class="video-buttons" [attr.aria-label]="'videos.list-video.actions'|translate">
            <li class="video-button">
                <button class="btn btn-sm btn-primary" (click)="publishVideo()"><io-button-loader *ngIf="publishing"></io-button-loader><span *ngIf="!publishing">{{ 'videos.publish' | translate }}</span><span *ngIf="publishing">{{ 'videos.publishing' | translate }}</span></button>
            </li>
            <li class="video-button" *ngIf="isVideoPublished()">
                <button class="btn btn-sm btn-secondary" (click)="copyShareURL()"><fa-icon [icon]="['fas', 'share']"></fa-icon>&nbsp;<span>{{ 'videos.list-video.share' | translate }}</span></button>
            </li>
            <li class="video-button">
                <a class="btn btn-sm btn-secondary" [routerLink]="['/videos', video.id, 'edit']"> <fa-icon [icon]="['fas', 'eye']"> </fa-icon>&nbsp;<span>{{ 'videos.list-video.edit_information' | translate }}</span></a>
            </li>
            <li class="video-button">
                <button class="btn btn-sm btn-primary" (click)="goToEditor()"><fa-icon [icon]="['fas', 'edit']"></fa-icon>&nbsp;<span>{{ 'videos.list-video.edit_video' | translate }}</span></button>
            </li>
            <li class="video-button">
                <button class="btn btn-sm btn-danger" (click)="deleteVideo()"><fa-icon [icon]="['fas', 'times']"> </fa-icon>&nbsp;<span>{{ 'videos.list-video.delete' | translate }}</span></button>
            </li>
        </ul>
    </div>
</article>
