<div class="modal-body">
    <h2 class="sub-title">{{ 'courses.authorized.title' | translate }}</h2>
    <mat-form-field class="authorized-list" appearance="fill"
        ><mat-label>{{'courses.authorized.list' | translate}}</mat-label
        ><mat-chip-list #chipList [attr.aria-label]="'courses.authorized.list' | translate"
            ><mat-chip *ngFor="let user of selectedUsers" (removed)="remove(user)" [disableRipple]="true" (keydown.enter)="remove(user)" (keydown.space)="remove(user)" [selectable]="false">
                {{ user.name }} &nbsp;<button matChipRemove tabindex="-1"><fa-icon [icon]='["fas", "times"]' size="2x" [attr.aria-label]="'courses.authorized.delete' | translate"></fa-icon></button></mat-chip
            ><input class="form-control" #userInput [formControl]="userCtrl" [matAutocomplete]="users" [matChipInputFor]="chipList" type="search" [attr.aria-label]="'courses.authorized.select.placeholder' | translate" placeholder="{{ 'courses.authorized.select.placeholder' | translate }}" (keydown.enter)="$event.preventDefault()" /></mat-chip-list
        ><mat-autocomplete #users="matAutocomplete" (optionSelected)="selected($event)"><mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">{{ user.name }}</mat-option></mat-autocomplete></mat-form-field
    >
    <div class="sr-only" #lti id="authorization-lti-live" aria-live="polite" aria-atomic="true"></div>
</div>
<div class="modal-footer"><button class="btn btn-primary" type="button" (click)="close()">{{ 'modals.confirm-action.buttons.cancel' | translate }}</button><button class="btn btn-secondary" type="button" (click)="save()">{{ 'common.accept' | translate }}</button></div>
