$theme-colors: (
    'primary': #1e3756,
    'secondary': #d41857,
    'success': #1a652e,
    'info': #0857aa,
    'danger': #cf1a2c,
);

:root {
    --indie-blue: #1e3756;
    --indie-pink: #d41857;
}
