$theme-colors: (
    'primary': #1a4d8d,
    'secondary': #807041,
    'success': #1a652e,
    'info': #0857aa,
    'danger': #cf1a2c,
);

:root {
    --indie-blue: #1a4d8d;
    --indie-pink: #807041;
}
