div(aria-live="polite", aria-atomic="true")
    div(*ngFor="let alert of alerts", class="{{cssClass(alert)}}")
        a(class="close", (click)="removeAlert(alert)") &times;
        span([innerHTML]="alert.message")