.filter {
    .filter-title {
        color: var(--indie-pink);
        text-transform: uppercase;
    }

    margin-bottom: 1rem;
}

.category-results {
    .results-wrapper {
        .list-group-item {
            cursor: pointer;
            background-color: #dadfe745;
        }

        max-height: 300px;
        overflow-y: scroll;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }
}

.category-selected {

    .badge {
        margin-top: 10px;
    }

    fa-icon {
        padding-left: 5px;
    }
}
