@import 'functions';

.unit-item {
    color: var(--indie-blue);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;

    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    display: flex;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .description-container {
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 992px) {
            .date-container {
                text-align: right;
            }
        }

        @media (max-width: 992px) {
            .date-container {
                text-align: left;
            }
        }

        .unit-badges {
            margin-bottom: 1rem;

            * {
                margin-left: 0.2rem;
                margin-right: 0.2rem;
            }
        }

        .unit-buttons {
            margin-top: auto;
            text-align: right;
            list-style: none;
            display: flex;
            justify-content: end;
            .btn {
                margin: 0.2rem;
            }

            @media (max-width: 767px) {
                .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .image-container {
        display: flex;

        margin: auto;

        img {
            height: 200px;
            width: 200px;
        }

        @media (max-width: 767px) {
            img {
                margin-top: 0.5rem;
                width: auto;
            }
        }
    }

    .unit-title {
        @include wrap-text(1);
        font-weight: 650;
        font-size: 1.25rem;
    }

    .unit-description {
        font-size: 0.95rem;
        @include wrap-text(1);
    }
}

.badge-read-only {
    background-color: #256ccf;
    color: white;
}

.badge-reuse {
    background-color: #920061;
    color: white;
}
