.row.mt-2
    .col
        io-alerts 
main.row.mt-2(id="main", tabindex="-1", aria-labelledby="title")
    .col
        .card
            form(ngNativeValidate, [formGroup]='courseForm', (ngSubmit)='submit()')
                .card-body
                    h1.h2(*ngIf='!isUpdate()', translate, id="title", tabindex="-1") courses.create.title
                    h1.h2(*ngIf='isUpdate()', translate, id="title", tabindex="-1") courses.update.title
                    .form-group
                        p {{ "common.asterisk_required" | translate}}
                        io-input([data]='nameInput')
                .card-footer(style='text-align: right')
                    button.btn.btn-success(type='submit', [disabled]='!allowSubmit')
                        io-button-loader([show]='!allowSubmit')
                        span(*ngIf='!isUpdate()') {{ "courses.create.form.submit" | translate }}
                        span(*ngIf='isUpdate()') {{ "courses.update.submit" | translate }}