<div class="card filter">
    <div class="card-body">
        <h2 class="card-title filter-title">{{ filter.label | translate }}</h2>
        <div class="author-form"><input class="form-control" matInput [matAutocomplete]="autoAuth" type="search" placeholder="{{ 'search.filters.author.input-placeholder' | translate }}" [(ngModel)]="name" (ngModelChange)="dataChanged($event)" name="author" [attr.aria-label]="'search.filters.author.search-author' | translate" /></div>
        <mat-autocomplete #autoAuth="matAutocomplete" (optionSelected)="authorSelected($event)"><mat-option *ngFor="let item of results$ | async " [id]="item.id" [value]="item.name">{{ item.name }}</mat-option></mat-autocomplete>
        <div class="author-selected" *ngIf="itemSelected">
            <div class="badge badge-primary">
                <button class="text-white btn-sm btn btn-outline" (click)="clearSelected()" [attr.aria-label]="itemSelected.name + ' ' + ('search.filters.author.delete' | translate)">{{ itemSelected.name }}<fa-icon [icon]="['fas', 'times']"></fa-icon></button>
            </div>
        </div>
    </div>
</div>
