.row.pt-2
    .col.col-xl-6.offset-xl-3
        .card
            form([formGroup]='resetPasswordForm', (ngSubmit)='resetPassword()', *ngIf='showForm')
                .card-header.text-white.bg-primary
                    h5 {{ "reset-password.title" | translate }}
                .card-body
                    .form-group
                        io-input([data]='emailInput')
                    .form-group
                        io-input([data]='newPasswordInput')
                    .form-group
                        io-input([data]='repeatPasswordInput')
                .card-footer
                    button.btn.btn-success(type='submit', [disabled]='!allowSubmit')
                        io-button-loader([show]='!allowSubmit')
                        | {{ "reset-password.submit" | translate }}
