<div class="row pt-2">
    <div class="col col-xl-6 offset-xl-3">
        <div class="card">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="showForm">
                <div class="card-header text-white bg-primary"><h5>{{ "reset-password.title" | translate }}</h5></div>
                <div class="card-body">
                    <div class="form-group"><io-input [data]="emailInput"></io-input></div>
                    <div class="form-group"><io-input [data]="newPasswordInput"></io-input></div>
                    <div class="form-group"><io-input [data]="repeatPasswordInput"></io-input></div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="submit" [disabled]="!allowSubmit"><io-button-loader [show]="!allowSubmit"></io-button-loader>{{ "reset-password.submit" | translate }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
