.tabs-container {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;

    .tab-content {
        margin: 1rem;
    }

    .nav-tabs .nav-link {
        color: var(--indie-blue);
        margin-bottom: 9%;
    }

    .nav-tabs .nav-link:hover {
        color: var(--indie-blue);
        background-color: rgba(63, 111, 168, 0.1);
    }

    .nav-tabs .nav-link.active {
        background-color: var(--indie-pink);
        color: #fff;
    }

    .nav-tabs .nav-link.active:hover {
        background-color: var(--indie-pink);
        color: #fff;
    }
}
