.authorized-list {
    width: 100%;
}

.mat-standard-chip .mat-chip-remove, .mat-standard-chip .mat-chip-trailing-icon {
    display: block;
    opacity: 1;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
}